@model Sitecore.Shell.Client.Metro.Layouts.Renderings.Components.MetroDatePickers.MetroDatePickerRenderingModel
@{
  Model.Class = "input-control text";
  Model.DataBind.IsVisible();
}      
<div @Model.HtmlAttributes>
  <input type="text">
  <button class="btn-date"></button>
</div>