@model Sitecore.Shell.Client.Metro.Layouts.Renderings.Components.MetroCalendars.MetroCalendarRenderingModel
@{
  Model.Class = "calendar";
  Model.DataBind.IsVisible();
}      
<div @Model.HtmlAttributes></div>
